main {
  margin-top: 100px;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 800px;
  align-self: center;
}

h1 {
  font-family: 'Segoe UI';
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.12em;
  text-align: center;
  color: #BC5B6C;
  grid-column: span 2;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

label {
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #59363d;
}

input {
  width: 300px;
  border-radius: 10px;
  background: #FFDDE3;
  border: none;
  padding: 10px;
  font-size: 16px;
}

button {
  width: 300px;
  background: #59363d;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: #FFDDE3;
}

.msg-error {
  align-self: left;
}
